@import "tailwindcss";

@theme inline {
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
}

@theme {
  --color-background: #07111c;
  --color-surface: #0a1929;
  --color-surface-hover: #0e2238;
  --color-elevated: #122c44;

  --color-accent: #4680fe;
  --color-light-accent: #67a8ff;

  --color-border: #163954;
  --color-infobox-bg: #091a24;
  --color-infobox-border: #0b2f34;

  --color-primary: #f0f8ff;
  --color-tertiary: #7f8fa1;
  --color-secondary: #a1acb8;
  --color-dark: #020508;
  --color-muted: #8694a1;

  --color-success: #2fd9a3;
  --color-error: #f24868;
  --color-warning: #fcd94c;

  --breakpoint-xs: 480px;
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

* {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-elevated rounded-sm;
  }
}

body {
  @apply text-primary font-inter bg-background;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.kRDCsY:hover {
  @apply !bg-elevated;
}
